# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bitcoin
host=127.0.0.1

#mainnet default
port=8332

#testnet3 default
#port=18332

#testnet4 default
#port=28332

#scalenet default
#port=38332

#chipnet default
#port=48332

#regtest default
#port=18443

# bootstrap.dat hashlist settings (linearize-hashes)
# (pick a well finalized height, either a checkpoint or minimum 10 below chain tip)
max_height=823112

# bootstrap.dat input/output settings (linearize-data)

# mainnet
diskmagic=f9beb4d9
genesis=000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f
input=/home/example/.bitcoin/blocks

# testnet3
#diskmagic=0b110907
#genesis=000000000933ea01ad0ee984209779baaec3ced90fa3f408719526f8d77f4943
#input=/home/example/.bitcoin/testnet3/blocks

# testnet4
#diskmagic=cd22a792
#genesis=000000001dd410c49a788668ce26751718cc797474d3152a5fc073dd44fd9f7b
#input=/home/example/.bitcoin/testnet4/blocks

# scalenet
#diskmagic=bac22dc4
#genesis=00000000e6453dc2dfe1ffa19023f86002eb11dbb8e87d0291a4599f0430be52
#input=/home/example/.bitcoin/scalenet/blocks

# chipnet
#diskmagic=cd22a792
#genesis=000000001dd410c49a788668ce26751718cc797474d3152a5fc073dd44fd9f7b
#input=/home/example/.bitcoin/chipnet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
